<div class="show-container">
  <div class="restaurant">
  <h1><%=@restaurant.name %></h1>
    <p><%= @restaurant.address  %></p>
    <p><%= @restaurant.phone_number  %></p>
    <p><%= @restaurant.category  %></p>
  </div>
  <div class="review">
    <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li><%= '⭐️' * review.rating %></li>
      <li><%= review.content %></li>
    <% end %>
    </ul>
  </div>
  <div class="link-container">
    <a class="btn btn-primary" href="/restaurants" role="button">Home</a>
    <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
  </div>
</div>
